{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ quiz.title }}
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static '../static/footer.css' %}" />
  <link rel="stylesheet" href="{% static '../static/testimonial.css' %}" />
  <link rel="stylesheet" href="{% static '../static/intro.css' %}" />
{% endblock %}

{% block content %}
  <div class="intro-container">
    <div class="intro-content">
      <h2 class="intro-heading">Задайте свой вопрос</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <p class="intro-text">{{ field.label }}</p>
            {{ field }}
          </div>
        {% endfor %}
        <div class="intro-button-container">
          <button class="intro-button" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <figure class="intro-image">
      <img src="{% static '../static/images/robot.jpg' %}" alt="Creative Abstract Painting" />
    </figure>
  </div>
{% endblock %}
