{% extends "base.html" %}


{% block title %}
    Behavioral economics
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="../static/myfirst.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/featured-product.css">
    <link rel="stylesheet" href="../static/team.css">
{% endblock %}

{% block content %}
<div class="call-to-action is-style-section-1">
    <div class="cover alignwide" style="border-radius: 20px; min-height: 50vh;">
        <img class="cover-image" src="../static/images/dollars.jpg" alt="" data-object-fit="cover">
        <div class="cover-content">
            <h1 class="cover-heading text-with-shadow has-theme-4-color has-text-color has-link-color"> Поведенческая
                экономика</h1>
        </div>
    </div>

    
    <div class="ticker-tape alignwide">

        <a href="/history" class="btn-outline">Историческая справка</a>
        <a href="{% url 'askllm_view' %}" class="btn-outline">Спросить AI</a>
        <a href="/survey" class="btn-outline">Тестирование</a>
        <a href="/materials" class="btn-outline">Полезные матриалы</a>
        {% if user.is_authenticated %}
            <a href="{% url 'score_history_by_id' 1%} " class="btn-outline">My Statistics</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn-outline">Войти/Зарегистрироваться</a>
        {% endif %}

    </div>


    <div class="spacer"></div>
</div>

<div class="feature alignfull">
    <div class="feature-content alignwide">
        <div class="feature-images">
            <div class="image-grid">
                <img src="../static/images/brain.jpg" alt=""
                     class="feature-image">
                <img src="../static/images/books.jpg" alt=""
                     class="feature-image">
                <img src="../static/images/doctors.jpg" alt=""
                     class="feature-image">
                <img src="../static/images/philosophy.jpg" alt=""
                     class="feature-image">
            </div>
        </div>
        <div class="feature-text">
            <h2>Как мы принимаем экономические решения?</h2>
            <p>Классическая экономическая теория предполагает, что человек — *homo economicus* — всегда действует рационально, 
                максимизируя выгоду. Однако исследования в области **поведенческой экономики** (Behavioral Economics) показывают,
                что реальные решения людей зависят от эмоций, когнитивных искажений и социальных контекстов.  
            </p>
            <p>
                Несколько примеров: <br>
                <br>
                🧠 Неприятие потерь (Loss Aversion)
                <br>
                ✨ Люди испытывают боль от потерь сильнее, чем радость от эквивалентной прибыли.  
                    Например, потеря 1000 рублей вызывает более сильные эмоции, чем выигрыш той же суммы.  
                    <a href="https://www.jstor.org/stable/1914185">[Kahneman & Tversky, 1979](теория перспектив)</a>  

                <br>
                <br>
                🧠 Искажение оценки вероятностей
                <br>
                ✨Мы нелогично оцениваем вероятности: переоцениваем редкие события (авиакатастрофы) и недооцениваем
                частые (аварии на дорогах). 
                <br>
                Исторический факт: Финансовый кризис 2008 года произошёл отчасти потому, 
                что банки и инвесторы игнорировали риски ипотечных долгов, считая крах «маловероятным» 
                <a href="https://press.princeton.edu/books/paperback/9780691155924/animal-spirits">[Akerlof & Shiller, 2009](теория перспектив)</a>  
                <br>
                <br>
                🧠 Мы легко поддаемся влиянию социальных норм.
                <br>
                ✨ В Швеции государство ввело автоматическую подписку на пенсионные программы, и число
                участников выросло с 40% до 90%. Люди просто следовали «опции по умолчанию»<a href="https://yalebooks.yale.edu/book/9780300122237/nudge/">[Thaler & Sunstein, 2008]</a> 
                <br>
                ✨ В Великобритании при регистрации доноров органов система изменилась с «opt-in» (нужно
                подписаться) на «opt-out» (все доноры по умолчанию, если не отказались). Это увеличило количество
                доноров с 17% до 90% <a href="https://www.science.org/doi/10.1126/science.1091721">[Johnson & Goldstein, 2003]</a>  

        </div>
    </div>
</div>


<section class="team-section">
    <h2 class="team-heading">Эскпертное мнение</h2>

    <div class="team-container">
        <div class="team-member">
            <img src="../static/images/Cass_R._Sunstein.jpg" alt="Mel Gibs">
            <h3>Касс Санстейн</h3>
            <h1>Американский учёный в области юриспруденции и политический активист</h1>
            <div class="highlight">
                <p>Понимание поведенческой экономики может помочь вам лучше осознать свои собственные предубеждения и
                    принимать
                    более взвешенные решения</p></div>
        </div>


        <div class="team-member">
            <img src="../static/images/Rory_Sutherland.jpg" alt="Rory_Sutherland">
            <h3>Рори Сазерленд</h3>
            <h1>Британский специалист по рекламе и популярный автор</h1>
            <div class="highlight">
                <p>Наше сознание изо всех сил старается сохранить иллюзию того, что оно сознательно выбирало каждое действие, которое вы когда-либо предпринимали;
                    на самом деле, оно было, в лучшем случае, сторонним наблюдателем, и большую часть времени даже не замечало, как принималось решение.</p></div>
        </div>
        <div class="team-member">
            <img src="../static/images/images.jpg" alt="Mel Gibs">
            <h3>Вильфредо Парето</h3>
            <h1>Итальянский инженер, экономист и социолог</h1>
            <div class="highlight">
                <p>Основа политической экономии и в целом любой из социальных наук – это, несомненно, психология. Может,
                    однажды наступит день, когда мы будем способны вывести законы социальной науки из принципов
                    психологии.</p></div>
        </div>

        <div class="team-member">
            <img src="../static/images/richard-h-thaler.jpg" alt="Mel Gibs">
            <h3>Ричард Талер</h3>
            <h1>Американский лауреат нобелевской премии по экономике 2017 года за вклад в область поведенческой
                экономики</h1>
            <div class="highlight">
                <p>Психологи никогда не стали бы думать о том, чтобы смоделировать мир так, будто в нем живет нация
                    Рационалов, у каждого из которых докторская степень по экономике</p></div>
        </div>
    </div>
</section>

<section class="featured-product">
    <!-- Top Spacer -->
    <div class="spacer"></div>

    <!-- Product Container -->
    <div class="product-container">
        <!-- Product Image -->
        <div class="product-image">
            <img src="../static/images/dollars.jpg" alt="Classic chocolate chip cookies">
        </div>
        <!-- Product Details -->
        <div class="product-details">
            <h2>В какой степени на Ваши решения влияют принципы поведенческой экономики?</h2>
            <p class="product-description">
                Этот тест поможет Вам увидеть влияние поведенческих паттернов на вашу жизнь.
            </p>
            <div class="order-button">
                <a href="/survey" class="btn-outline">Пройти тестирование</a>
            </div>
        </div>
    </div>

    <!-- Bottom Spacer -->
    <div class="spacer"></div>
</section>


{% endblock %}