{% extends "base.html" %}


{% block title %}
Survey
{% endblock %}


{% block links %}
<link rel="stylesheet" href="../static/testimonial.css">
<link rel="stylesheet" href="../static/intro.css">
{% endblock %}


{% block content %}
<div class="intro-container">

    <div class="intro-content">
        <h2 class="intro-heading">Create anything</h2>
        <p class="intro-text">
            Navigating life's intricate fabric, choices unfold paths to the extraordinary,
            demanding creativity, curiosity, and courage for a fulfilling journey.
        </p>

        <div class="intro-button-container">
            <a href="#" class="intro-button">Get Started</a>
        </div>
    </div>

    <figure class="intro-image">
        <img src="../static/images/thinking_head.jpg" alt="Creative Abstract Painting">
    </figure>

</div>

<div class="testimonial-container">
    <div class="testimonial-box">
        <div class="spacer"></div>

        <h3 class="testimonial-quote">
            “Crispy on the outside, gooey on the inside, and packed with chocolatey goodness in every bite. One taste,
            and you'll be hooked—it's like a warm hug in cookie form!”
        </h3>

        <p class="testimonial-author">- Valerie, NY</p>

        <div class="spacer"></div>
    </div>
</div>
{% endblock %}