{% extends "base.html" %}


{% block title %}
Login
{% endblock %}


{% block links %}
<link rel="stylesheet" href="../static/intro.css">
{% endblock %}


<div class="intro-container">
    <div class="intro-content">
        <h2 class="intro-heading">Авторизация</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="intro-button">Войти</button>
        <button onclick="window.location.href='../register'" class="intro-button">Регистрация</button>
        </form>
    </div>
    <div class="intro-small">
    <img src="../static/images/thinking_kids.jpg" alt="" style="width: 60%; height: auto;">
    </div>

</div>

{% endblock %}